#nominerede {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#nominerede td, #nominerede th {
    border: 1px solid #ddd;
    padding: 8px;
}

#nominerede tr:nth-child(even){background-color: #f2f2f2;}

#nominerede tr:hover {background-color: #ddd;}

#nominerede th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
